@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  font-family: Outfit;
}
:root {
  --details-heading-small: 26px;
  --details-heading-small: 36px;

  --course-details-heading-large: 36px;
  --course-details-heading-large: 46px;

  --heading-small: 28px;
  --home-heading-small: 34px;

  --home-heading-large: 48px;
  --height-home-heading-large: 56px;

  --default: 15px;
  --default: 21px;
  /* --spacing:{

"section-height":"500px"

} */

  /* --rich-text: */

  /* "maxwidth:{
"course-card":"424px"
}"
boxshadow:{

"custom-card":"0px 4px 15px 2px rgba(0,0,0,0.1)"




 */
}
@layer utilities {
  .auto {
    grid: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@layer base {
  html {
    scroll-behavior: smooth;
  }
}
::-webkit-scrollbar {
  display: none;
}
.rich-text {
  font-size: 15px;
  color: #7a787d;
}
.rich-text p {
  margin-bottom: 16px;
}
.rich-text h1 {
  font-size: 36px;
  font-weight: 800;
  color: #252525;
  margin: 32px 0;
}
.rich-text h2 {
  font-size: 22px;
  font-weight: 700;
  color: #252525;
  margin: 24px 0;
}
.rich-text h3 {
  font-size: 18px;
  font-weight: 600;
  color: #252525;
  margin: 20px 0;
}
.rich-text h4 {
  font-size: 16px;
  font-weight: 500;
  color: #252525;
  margin: 16px 0;
}
.rich-text h5 {
  font-size: 14px;
  font-weight: 400;
  color: #252525;
  margin: 12p 0x;
}
.rich-text h6 {
  font-size: 12px;
  font-weight: 400;
  color: #252525;
  margin: 8px 0;
}
.rich-text strong {
  font-weight: 700;
}
.rich-text ol {
  margin-left: 30px;
  list-style-type: decimal;
}
.rich-text ul {
  margin-left: 30px;
  list-style-type: disc;
}
.rich-text li {
  margin-bottom: 8px;
}
